@use '@ui/variables.scss' as variables;

:host {
  display: block;
}

.sidebar{
  max-height: 100%;
  width: 100%;
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: variables.$primary-gray;

}
