@use '@ui/mixins.scss' as mixins;

:host {
  display: block;
}

.card{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;


  &-cols-4{
    grid-template-columns: repeat(5, 1fr);
  }

  &-cols-5{
    grid-template-columns: repeat(6, 1fr);
  }

  &__item{
    padding: .5rem 1rem;
  }

  &__btn{
    @include mixins.primary-button(fit-content,.15rem, 0);
  }


}
