$soft-light: #fafafa;
$primary-gray: #f7f7f7;
$primary-dark: #303030;
$primary-red: #FF2800;
$primary-red-hover: #ff2600c3;
$secondary-orange: #FFA600;
$link-hover: #805540;
$header-color: #404180;
$secondary-blue: #00BFFF;
