$soft-light: #fafafa;
$primary-gray: #f7f7f7;
$primary-dark: #303030;
$primary-button: #FF2800;
$primary-button-hover: #ff2600c3;
$secondary-button: #FFA600;
$link-hover: #928bd3;
$header-color: #404180;
