@use '@ui/variables.scss' as variables;

:host {
  display: block;
}

.menu{
  &__title{
    color: variables.$header-color;
    margin-bottom: 2.5rem;
  }

  &__content{
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
  }
  &__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    overflow: hidden;
    padding: .75rem;

    & :hover{
      transition: .5s all;
      transform: scale(1.05);
    }
  }

}
